@import '../../styles/variables'

.discount
  width: 100%
  margin-top: 2em
  color: #273845
  font-size: 14px
  line-height: 22px
  font-weight: 700
  border-radius: 6px
  background-color: #ffffff

.discount__wrapper
  display: flex
  flex-direction: column
  padding: 1.1em 1em 1.5em 1em

.form
  display: flex
  align-items: center
  margin-top: 1.5em
  border-radius: 4px
  border: 1px solid #ebebeb

.input
  flex: 1
  border: none
  color: #A0B4C3
  font-size: 14px
  line-height: 22px
  background-color: #ffffff
  padding: 0.75em 0 0.75em 1em
  &:focus
    outline: none

.button
  padding: 0.4em 0.75em 0.4em 0.75em
  margin: 0.7em
  cursor: pointer
  box-shadow: 0 2px 6px rgba(196, 218, 227, 0.4)
  border: none
  border-radius: 6px
  background-color: #0ba1f9

@media #{$small-only}
  .discount
    display: none