@import '../../styles/variables'

.paymentCard
  width: 100%
  margin-top: 1.5em
  color: #273845
  font-size: 14px
  line-height: 22px
  font-weight: 700
  border-radius: 6px
  background-color: #ffffff

.paymentCard__wrapper
  padding: 0.75em

.header
  display: flex
  justify-content: space-between
  padding-bottom: 1em

.inputRow
  display: flex
  width: 100%
  margin-bottom: 0.25em

.input
  padding: 1em
  margin-left: 0.25em
  border-radius: 6px
  background-color: #f7f9fa
  &:first-child
    margin-left: 0
  &:last-child
    flex: 1

.input__title
  margin-bottom: 0.25em
  color: #A0B4C3
  font-size: 11px
  text-transform: uppercase

@media #{$small-only}
  .paymentCard
    display: none