.button
  font-family: Lato, sans-serif
  cursor: pointer
  padding: 0.3em 1.3em 0.3em 1.3em
  color: #00B2FF
  background-color: rgba(0, 178, 255, 0.1)
  border: none
  border-radius: 6px
  font-size: 10px
  font-weight: 700
  line-height: 22px
  text-transform: uppercase

.tag
  display: inline-block
  padding: 0 9px 0 9px
  border-radius: 3px
  background-color: #dde7ff
  color: #2d64e8
  font-size: 10px
  font-weight: 600
  line-height: 22px
  text-transform: uppercase