@import 'normalize.css'
@import 'variables.sass'

@font-face 
  font-display: swap
  font-family: 'Lato'
  font-style: normal
  font-weight: normal
  src: url(../fonts/Lato-Regular.ttf) format('truetype')

@font-face 
  font-display: swap
  font-family: 'Rubik'
  font-style: normal
  font-weight: normal
  src: url(../fonts/Rubik-Regular.ttf) format('truetype')

body
  background-color: #f7f9fa
  font-family: Lato, sans-serif
  font-weight: 400
  min-width: 300px
  max-width: 1920px
  margin: 0 auto 0 auto