@import '../../styles/variables'

.content
  width: 100%
  display: flex
  justify-content: center

.content__wrapper
  width: 100%
  max-width: $page-width
  margin: 0 $side-margin 0 $side-margin
  display: flex

.sideBar
  width: 280px

.main
  flex: 1
  margin: 0 0 0 $side-margin

@media (max-width:1023px)
  .content__wrapper
    flex-direction: column
  
  .sideBar
    width: 100%
    
  .main
    margin: 1em 0 0 0

@media #{$small-only}
  .main
    margin: 0
