@import '../../styles/variables'

.summary
  display: flex
  flex-direction: column
  padding: 0 20px 0px 20px
  border-radius: 6px
  background-color: #ffffff

.summaryTitle
  color: #273845
  margin-top: 20px
  font-size: 17px
  font-weight: 700
  line-height: 22px

.makePayment
  display: flex
  align-items: center
  margin-top: 18px
  border-radius: 6px
  background-color: #eef8fc  
  padding: 38px 0 43px 0
  
.makePayment__left
  display: flex
  flex: 1
  align-items: center

.makePayment__image
  margin: 0 0 -43px 0

.makePayment__text
  max-width: 294px
  margin: 0 0 0 34px

.makePayment__title
  color: #273845
  font-size: 24px
  font-weight: 700
  line-height: 32px

.makePayment__amount
  color: #3955ff
  font-weight: 800 

.makePayment__subtitle
  margin-top: 11px
  color: #738796
  font-size: 14px
  font-weight: 400
  line-height: 22px

.makePayment__date
  color: #273845
  font-weight: 500  

.makePayment__button
  cursor: pointer
  font-family: Lato
  font-size: 12px
  font-weight: 700
  line-height: 22px
  box-shadow: 0 3px 10px rgba(184, 235, 254, 0.5)
  border: none
  border-radius: 6px
  color: #ffffff
  background-color: #00b2ff
  text-transform: uppercase
  margin: 0 7em 0 0
  padding: 1em 3em 1em 3em

.transactionTitle
  margin-top: 32px
  height: 22px
  color: #273845
  font-size: 17px
  font-weight: 700
  line-height: 22px

.transactionList  
  margin-top: 16px

.transaction
  display: flex
  justify-content: space-between
  padding: 1em
  margin-top: 5px
  align-items: center
  border-radius: 6px
  background-color: #f7f9fa
  &:first-child
    margin-top: 0

.transaction__right
  display: flex
  
.transaction__title
  color: #273845
  font-size: 15px
  font-weight: 500
  line-height: 22px

.transaction__subtitle
  color: #a0b4c3
  font-size: 12px
  font-weight: 400
  line-height: 22px

.transaction__type
  align-self: flex-end
  font-size: 12px
  font-weight: 500
  line-height: 22px
  text-transform: uppercase
  margin-right: 15px

.transaction__type_credit
  color: #1bc687 

.transaction__type_debit
  color: #ff6044

.transaction__end
  min-width: 115px
  white-space: nowrap

.transaction__date
  color: #a0b4c3
  font-size: 12px
  font-weight: 400
  line-height: 22px

.transaction__amount
  color: #273845
  font-size: 16px
  font-weight: 700
  line-height: 22px

.transaction__currency
  color: #273845
  font-size: 14px
  font-weight: 400
  line-height: 22px
  text-transform: uppercase

.moreTransactions
  margin-top: 32px
  margin-bottom: 33px
  align-self: center


@media (max-width:1109px)
  .makePayment__button
    margin: 0 2em 0 2em

@media #{$small-only}
  .makePayment
    flex-direction: column
    padding: 1em 0 1em 0

  .makePayment__image
    display: none

  .makePayment__title
    font-size: 14px
  
  .makePayment__subtitle
    font-size: 12px

  .makePayment__text
    max-width: none
    margin: 0
    text-align: center

  .makePayment__button
    font-size: 10px
    margin: 1em 0 0 0

  .transaction__tag,
  .transaction__subtitle,
  .transaction__type
    display: none

  .transaction__title,
  .transaction__subtitle,
  .transaction__amount
    font-size: 11px

  .transaction__date,
  .transaction__currency
    font-size: 10px

  .transaction__value_credit
    .transaction__amount,
    .transaction__currency
      color: #1bc687 
  
  .transaction__value_debit
    .transaction__amount,
    .transaction__currency
      color: #ff6044


