@import '../../styles/variables'

.account
  width: 100%
  display: flex
  justify-content: center
  font-size: 14px
  color: #A0B4C3

.account__wrapper
  width: 100%
  margin: 2.5em $side-margin 2.5em $side-margin
  display: flex
  justify-content: space-between
  max-width: $page-width  

.left
  display: flex
  
.username
  color: #273845
  font-weight: 500

.seperator
  border-left: 1px solid
  margin: 0 1.25em 0 1.25em

.logo
  padding-right: 0.5em

@media #{$small-only}
  .account
    display: none