@import '../../styles/variables'

.header
  width: 100%
  display: flex
  justify-content: center
  color: #273845
  background-color: #ffffff
  font-size: 14px
  font-family: Rubik, sans-serif
  letter-spacing: 0

.nav
  width: 100%
  max-width: $page-width
  margin: 0 $side-margin 0 $side-margin
  display: flex
  justify-content: space-between

.logo
  align-self: center

.menu
  display: none
  cursor: pointer
  margin: 0 2em 0 0
  align-self: center
  font-weight: 900

.ol
  display: flex
  list-style: none
  margin: 0
  padding: 0

.li
  display: flex
  align-items: center
  padding: 2.15em 0 1.65em 0
  margin: 0 0 0 2.3em
  &:first-child
    margin: 0 0 0 $side-margin

.li_active
  color: $color-active
  border-bottom: 2px solid

.li__img
  width: 16px
  height: 16px
  margin-right: 0.5em

.a
  display: flex
  color: inherit 
  text-decoration: none

@media (max-width:815px)
  .li__img
    display: none

@media #{$small-only}
  .header
    padding: 1em 0 1em 0

  .ol
    display: none

  .menu
    display: block
