@import '../../styles/variables'

.footer
  margin: 156px 0 63px 0
  display: flex
  justify-content: center
  font-size: 12px
  line-height: 20px
  color: #A0B4C3
  text-align: center

.footer__wrapper
  margin: 0 $side-margin 0 $side-margin
  max-width: 927px

@media #{$small-only}
  .footer
    margin: 5em $side-margin 2.5em $side-margin