@import '../../styles/variables'

.balance
  width: 100%
  color: #ffffff
  background-color: #2d64e8
  box-shadow: 0 2px 6px rgba(196, 218, 227, 0.4)
  border-radius: 6px

.balance__wrapper
  padding: 1em 0 1em 1em

.title
  opacity: 0.4
  font-size: 14px
  font-weight: 700
  line-height: 20px
  margin: 0 0 0.5em 0

.amount
  font-size: 29px
  font-weight: 700
  line-height: 20px

.currency
  margin: 0 0 0 4px
  font-size: 14px
  line-height: 22px
  text-transform: uppercase

@media #{$small-only}
  .balance__wrapper
    display: flex
    flex-direction: column
    align-items: center

  .title,
  .currency
    font-size: 12px

  .amount
    font-size: 22px